build/*
!build/README.txt
Host/build/*
!Host/build/README.txt
SerialWireDebug/*
*.cogui
*.comarker
*.comemgui
FlashProgrammer/*.cogui
FlashProgrammer/*.comarker
FlashProgrammer/*.comemgui
FlashProgrammer/FlashProgrammer/*
/output/
debug.log
mkmf.log